.cart{
    height: 100vh;
    background-image: url('C:\Users\pravi\Downloads\3764936.jpg');
    color: #ffffff;
    justify-content: center;
    align-items: center;
}
.addToCartPage {
    background: transparent;
    padding: 20px;
  }
  
  .pageTitle {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cartItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .cartItem {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  .cartItemImage {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .cartItemDetails {
    flex: 1;
  }
  
  .cartItemName {
    font-size: 20px;
    margin-bottom: 5px;
    color: black;
  }
  
  .cartItemPrice {
    font-size: 18px;
    color: #000000;
  }
  .cartbutton{
    height : 45px;
    width: 30%;
    background-color: #000000;
    border-radius: 40px;
  }
  .move{
    padding-top: 20px;
    /* color: #ffffff; */
    
  }